/* mobile first style */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header starts here */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
/* Header ends here */
.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.about-section,
/* .notification-section, */
.delete-section {
  margin-bottom: 2rem;
}

.about-section h2,
/* .notification-section h2, */
.delete-section h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* .notification-section label {
  display: block;
  margin-bottom: 0.5rem;
} */

.delete-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
/* Styles for the settings section */
.settings-section {
  margin-top: 20px;
}

.section-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/*** Styles for the battery and network information */
.info-container {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.battery-section,
.network-section {
  flex-basis: 45%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.battery-section h2,
.network-section h2 {
  margin-top: 0;
}

.battery-info {
  display: flex;
  align-items: center;
}

.battery-icon {
  font-size: 2rem;
  margin-right: 10px;
  color: #4caf50; /* Green color for battery icon */
}

.battery-details {
  display: flex;
  flex-direction: column;
}

.battery-percentage {
  font-size: 1.2rem;
  margin: 0;
}

.battery-status {
  font-size: 0.9rem;
  margin: 0;
  color: #4caf50; /* Green color for charging status */
}
.network-info {
  margin: 5px 0;
}

.network-status,
.network-type,
.network-downlink,
.network-uplink {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}

.tab {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.tab.active {
  background-color: #555;
}
/* Navigation ends here */
/*** Styling battery and network ends  */
